body {
    font-family: "TT Lakes";
    background-color: #F8F8F8;
}

.Repair-section {
    max-width: 1120px;
    border-top: 1px solid #D9FFF5;
}

.Repair-section_name {
    display: block;
    height: 80px;
    padding-left: 24px;
    padding-top: 16px;

    margin-bottom: 16px;

    background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
    color: #7E7E82;

    font-size: 16px;
    text-transform: uppercase;
}

.Repair-section_container {
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    overflow: hidden;
    margin-bottom: 24px;
    margin-left: 32px;
    row-gap: 16px;
    column-gap: 24px;
}

.Repair-section_container a {
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.Repair-section_container a:hover .Repair-section_card-button {
    opacity: 0.7;
}

.Repair-section_container a:hover {
    transform: scale(1.05);
}

.Repair-section_card {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    width: 224px;
    height: 72px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.Repair-section_card-button {
    width: 40px;
    height: 40px;
    background-image: url('./Icons/go.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.Repair-section_card-button:hover {
    opacity: 0.7;
}

.Repair-section_card-logo {
    width: 128px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.Repair-section_img--moved-left {
    transform: translateX(-20px);
}

.Repair-section_button {
    display: flex;
    background-color: #F8F8F8;
    margin-left: 32px;
}

.Repair-section_button::before {
    content: '';
    background-image: url("./Icons/repait-section-button.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    align-self: center;
    height: 12px;
    width: 8px;
    margin-right: 17px;
}

.Repair-section_button.Repair-section_button__rotate::before {
    transform: rotate(180deg);
}

.swiper-container {
    display: none;
    position: relative;
    width: 100vw;
    height: 130px;
    overflow: hidden;
}

.swiper {
    width: 400px;
    height: 130px;
}

.swiper-container::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 1;
    width: 21px;
    height: 81px;
    background: linear-gradient(to left, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);

}

.swiper-pagination {
    transform: translateX(-100px) translateY(-24px);
}


@media screen and (width > 1119px) {
    .Repair-section_container {
        column-gap: 32px;
    }

    .Repair-section_card {
        width: 240px;
    }

}

@media screen and (width > 400px) {
    .swiper {
        width: 600px;
    }

    .swiper-pagination {
        transform: translateX(-200px) translateY(-24px);
    }

}

@media screen and (width > 600px) {
    .swiper {
        width: 800px;
    }

    .swiper-pagination {
        transform: translateX(-300px) translateY(-24px);
    }

}

@media screen and (width < 768px) {
    .Repair-section_container {
        display: none;
    }

    .Repair-section_button {
        display: none;
    }

    .swiper-container {
        display: block;
    }
}